<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @example_resource.name %>
</p>

<%= link_to 'Edit', edit_example_resource_path(@example_resource) %> |
<%= link_to 'Back', example_resources_path %>
