<h1>Verkoop order <%= @order.id %></h1>

<%= render 'form', order: @order %>

<%= link_to "uitleveren", { controller: 'deliveries',action:"new", id:@order.id}%>

<%= link_to 'Back', sale_orders_path %>
