
<tr>
	<td><%= f.association :article, label_method: :name_for_select, label: false %></td>
	<td><%= f.input :amount, label: false %></td>
	<td><%= f.check_box :_destroy, {class: "btn btn-xs btn-danger"} %></td>
</tr>	


